#admin-main ul .collection-actions .button {
	background: #0082ba !important;
}

#admin-main ul .CodeMirror-code {
	background: #cccccc;
	color: #444;
}

.CodeMirror-selectedtext {
	background: #3366AA;
}

.CodeMirror-activeline-background {
	background: #bbbbbb;
}

.find-replace {
    right: 0px !important;
    z-index: 9999 !important;
}

.extension-preview-buttons .dropdown-menu, .extension-preview-buttons div.dropdown-menu {
  background-color: #1c5180 !important;
  font-weight: bold !important;
  color: #dddddd !important;
}

.extension-preview-buttons  .dropdown-menu h1, 
.extension-preview-buttons  .dropdown-menu h2, 
.extension-preview-buttons  .dropdown-menu h3 {    
  color: #BFC6D0 !important;
  border-bottom: 3px solid #BFC6D0 !important;  
}

.extension-preview-buttons  .dropdown-menu h4, 
.extension-preview-buttons  .dropdown-menu h5 {    
  color: #BFC6D0 !important;
}


.extension-preview-buttons  .dropdown-menu hr {
  color: #BFC6D0 !important;
  border-bottom: 2px solid #BFC6D0 !important;    
}

.wmd-panel .navbar-default a {
    color: #ddd;
}

.wmd-panel input[type="number"] {
  background: #fff;
  color: #000;
  font-size: 0.8em;
}

.studio-media-field .form-label div {
    position: relative;
    right: 35px;    
}

/* solve blockquote color problem with admin dark templates */
.preview-panel .preview-container blockquote,
.extension-preview-buttons .dropdown-menu blockquote {
  border-left: 10px solid #aaa;
  background: #999;
}