#admin-main ul .collection-actions .button {
	background: #0082ba !important;
}

#admin-main ul .CodeMirror-code {
	background: #cccccc;
	color: #444;
}

.CodeMirror-selectedtext {
	background: #3366AA;
}

.CodeMirror-activeline-background {
	background: #bbbbbb;
}

.find-replace {
    right: 0px !important;
    z-index: 9999 !important;
}

.extension-preview-buttons .dropdown-menu {
  background-color: #1c5180 !important;
  font-weight: bold !important;
  color: #ddd;
}

.extension-preview-buttons h1, .extension-preview-buttons h2, .extension-preview-buttons h3, .extension-preview-buttons h4, .extension-preview-buttons h5 {
  color: #BFC6D0 !important;
}

.wmd-panel .navbar-default a {
    color: #ddd;
}

.wmd-panel input[type="number"] {
  background: #fff;
  color: #000;
  font-size: 0.8em;
}

.studio-media-field .form-label div {
    position: relative;
    right: 35px;    
}